h1 {
  color: red;   
  font-size: 85px;
  font-weight: bold;

}

p {
  font-size: 20px;
}

#mando { 
 color: blueviolet; 

}

#grogu {
  color: green;
  font-size: 72px;
}

.tacos{ 
    color: brown;
}